// BEGIN $user-t
.user-t.cf
  .user-t__col
    .user-t__col-in
      .user-t__ava: img.user-t__ava-img(src='images/inline/user-t-1.png', width, height, alt='')
      .user-t__title Заказчик
      p.user-t__desc Я заказываю учебные работы напрямую у студлансеров по выгодным мне ценам, не переплачивая посредникам.
      ul.user-t__list
        li.user-t__item Текст небольшого преимущества
        li.user-t__item Еще преимущество, которое явно больше, чем прошлое
        li.user-t__item Преимущество, которое является чуть ли не основополагающим в данном списке
      a.btn.btn-lg.btn-success(href=link) Я заказчик
      p.user-t__offer Нажимая на кнопку “Я заказчик”, я соглашаюсь с&nbsp;
        a.user-t__offer-link(href=link) публичной офертой
        | &nbsp;ООО “Студланс” и&nbsp;
        a.user-t__offer-link(href=link) правилами сайта
        | .
  .user-t__col
    .user-t__col-in
      .user-t__ava: img.user-t__ava-img(src='images/inline/user-t-2.png', width, height, alt='')
      .user-t__title Исполнитель
      p.user-t__desc.user-t__desc--2 Работаю напрямую с заказчиком, сам определяю цену и получаю оплату в полном размере!
      ul.user-t__list
        li.user-t__item Текст небольшого преимущества
        li.user-t__item Еще преимущество, которое явно больше, чем прошлое
        li.user-t__item Преимущество, которое является чуть ли не основополагающим в данном списке
      a.btn.btn-lg.btn-success(href=link) Я исполнитель
      p.user-t__offer Нажимая на кнопку “Я заказчик”, я соглашаюсь с&nbsp;
        a.user-t__offer-link(href=link) публичной офертой
        | &nbsp;ООО “Студланс” и&nbsp;
        a.user-t__offer-link(href=link) правилами сайта
        | .
// END $user-t
