// BEGIN $carousel
.carousel
  button.carousel__arrow.carousel__arrow--left(type='button')
  .carousel__in
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-1.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Константин Петров
        span.carousel__subtitle Рефераты по химии
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-2.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Никита Светлов
        span.carousel__subtitle Курсовые по истории
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-3.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Генадий Гордеев
        span.carousel__subtitle Задачи по программированию
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-4.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Владислав Антоновский
        span.carousel__subtitle Профессиональный вынос мозга
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-5.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Валерия Герасименко
        span.carousel__subtitle Сочинения по литре
    li.carousel__item
      a.carousel__ava(href=link): img.carousel__ava-img(src='images/inline/avalancer-5.jpg', width, height, alt='')
      span.carousel__text: span.valign
        a.carousel__name(href=link) Валерия Герасименко
        span.carousel__subtitle Сочинения по литре
  button.carousel__arrow.carousel__arrow--right(type='button')
  a.carousel__buy-place(href=link) Купить место тут
// END $carousel
