// BEGIN $header
.header.cf(init-block='_temp.scss')
  a.header__btn(href=link)
    i.ico.ico__notice
    | События
    span.header__btn-counter 5
  a.header__btn(href=link)
    i.ico.ico__list
    | Мои заказы
  a.header__btn.header__btn--notext(href=link, title='Статистика'): i.ico.ico__stats
  .header__btn-row
    a.header__btn.header__btn--notext(href=link, title='Корзина'): i.ico.ico__cart
    a.header__btn(href=link)
      i.ico.ico__rub
      | 52
    a.header__btn(href=link) Купить PRO
  .header__btn-row.header__btn-row--right
    a.header__btn(href=link)
      i.ico.ico__user
      | Simpleusername
    a.header__btn.header__btn--notext(href=link, title='Настройки'): i.ico.ico__gear
    a.header__btn.header__btn--notext(href=link, title='Выход'): i.ico.ico__exit
// END $header
