// BEGIN $nav
.nav
  .nav__title Каталог пользователей:
  ul.nav__list
    li.nav__item
      a.nav__link(href=link)
       i.nav__ico.nav__ico--humanities
       | Гуманитарные науки
      li.nav__item.opened
        a.nav__link(href=link)
          i.nav__ico.nav__ico--natural
          | Естественные науки
        ul.nav__list-2
          li.nav__item-2
            a.nav__link-2(href=link) Астрономия
            span.nav__counter 14
          li.nav__item-2
            a.nav__link-2(href=link) Биология
            span.nav__counter 42
          li.nav__item-2
            a.nav__link-2(href=link) География
            span.nav__counter 17
          li.nav__item-2
            a.nav__link-2(href=link) Геология
            span.nav__counter 22
          li.nav__item-2
            a.nav__link-2(href=link) Геофизика
            span.nav__counter 65
          li.nav__item-2.opened
            a.nav__link-2(href=link) Математика
            span.nav__counter 32
            ul.nav__list-3
              li.nav__item-3
                a.nav__link-3(href=link) Обычная
              li.nav__item-3
                a.nav__link-3(href=link) Алгебра
              li.nav__item-3
                a.nav__link-3(href=link) Геометрия
          li.nav__item-2
            a.nav__link-2(href=link) Материаловедение
            span.nav__counter 12
          li.nav__item-2
            a.nav__link-2(href=link) Медицина
            span.nav__counter 75
          li.nav__item-2
            a.nav__link-2(href=link) Минералогия
            span.nav__counter 32
          li.nav__item-2
            a.nav__link-2(href=link) Физика
            span.nav__counter 13
          li.nav__item-2
            a.nav__link-2(href=link) Химия
            span.nav__counter 11
      li.nav__item
        a.nav__link(href=link)
          i.nav__ico.nav__ico--technic
          | Технические науки
      li.nav__item
        a.nav__link(href=link)
          i.nav__ico.nav__ico--social
          | Общественные науки
      li.nav__item
        a.nav__link(href=link)
          i.nav__ico.nav__ico--applied
          | Прикладные науки
      li.nav__item
        a.nav__link(href=link)
          i.nav__ico.nav__ico--other
          | Прочее
// END $nav
